@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@import "normalize";
@import "layout";
@import "elements";
@import "slick";

body{
	font: 300 18px/1 Oswald, sans-serif;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}


.ba-header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	padding-top: 33px;
	padding-left: 59px;
	margin-right: 17px;
	z-index: 2;

}

.ba-header-menu{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #fff;

	.ba-logo{
		font-size: 30px;
		font-weight: 400;
		padding-right: 48px;
		margin-top: -9px;
		padding-bottom: 25px;
	}

	.ba-header-menu__1{
		li{
			padding-right: 49px;
		}
	}

	.ba-header-menu__2{

		ul{
			margin-top: -3px;
		}

		li{
			padding-left: 73px;

			&::before{
				content: ('');
				border-left: 1px solid #fff;
				position: relative;
				right: 31px;
				height: 20px;

			}
		}
	}


	li{
		display: inline-block;
	}


	a{
		text-decoration: none;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.01em;
	}
}





.ba-header-section{
	z-index: 1;
	position: relative;
	background: url("../img/bg1.jpg");
	background-size: cover;
	color:  #f7f8f3;
	padding-top: 375px;
	padding-bottom: 182px;
	text-align: right;
	padding-left: 137px;

	h1{
		font-size: 55px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		padding-left: 10px;
		display: inline-block;
		line-height: 75px;
	}

	p{
		font-size: 24px;
		font-weight: 300;
		padding-right: 53px;
		letter-spacing: 0.28em;
		padding-top: 22px;
		padding-bottom: 85px;
	}

	a{
		text-decoration: none;

	}

	.ba-header-section__button{
		color: #fff;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		border: 1px solid #fff;
		padding: 20px 100px 20px 40px;
		margin-right: 61px;
	}

	.ba-header-section__ssil{
		padding-top: 47px;


		a{
			color:  #f7f8f3;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 0.3em;
		}
	}
}

.vertical-text{
	position: absolute;
	display: flex;
	left: -70px;
	bottom: 237px;
	transform: rotate(270deg);
	text-transform: uppercase;
	letter-spacing: 0.01em;

}

.galka{
	text-align: center;
	padding-top: 50px;
	position: relative;
	top: 123px;
	right: 63px;
}



.what-is-cbd{
	padding-top: 98px;
	padding-left: 10px;
	padding-bottom: 100px;
	background-color: #F4F5F0;

	.what-is-cbd__img{

		padding-bottom: 117px;
	}

	display: flex;
	.ba-row{
		justify-content: center;
	}

	ul{
		text-align: center;
		padding-right: 136px;
		padding-bottom: 99px;
		@media screen and (max-width:1024px){
		padding-right: 0;

			li + li{
				padding-left: 10px;
			}
		}
	}

	li{
		display: inline-block;
	}

	li + li{
		padding-left: 91px;
	}

	a{
		text-decoration: none;
		color:  #1b1c1a;
		font-size: 30px;
		font-weight: 400;
		letter-spacing: 0.2em;
	}
}

.what-is-cbd__img{
	text-align: center;
}

.ba-example__row{
	text-align: left;

	h3{
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.2em;
		padding-top: 31px;
		padding-left: 51px;
		line-height: 42px;
		padding-bottom: 26px;
	}

	p{
		color:  #6e774a;
		font-size: 18px;
		font-weight: 300;
		line-height: 40px;
		padding-bottom: 40px;
		letter-spacing: 0.1em;
		padding-left: 51px;
	}
}

.ba-col-large-6__img{
	position: relative;
	left: 151px;

	img + img{
		padding-top: 29px;
	}
}


//----------------

.ba-slider-1{
	background: #F4F5F0;
	text-align: center;
	outline: none;
	h2{
		color:  #1b1c1a;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		padding-top: 45px;
		padding-bottom: 79px;
	}
	button{
		padding-top: 60px;
		background: none;
		border: none;
		padding-bottom: 50px;
		outline: none;
	}
	button + button{
		padding-left: 50px;
	}
}

.ba-slider-1__go{
	margin-left: -30px;
	outline: none;
}

.ba-slider-1__go1{
	padding-left: 30px;
	outline: none;
}

.ba-tovar{
	outline: none;
	padding-top: 39px;
	background: #fff;
	border:	1px solid #ced6af;
	width: 613px;
	height: 430px;

	p{
		color:  #1b1c1a;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		padding-bottom: 40px;
	}
	.ba-mig{
		outline: none;
		display: flex;
		justify-content: center;
	}
}

.ba-by{
	outline: none;
	display: flex;
	justify-content: space-between;
	background-color: #e1e1e1;

	p{
		color:  #1b1c1a;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.15em;
		padding-left: 25px;
		padding-top: 28px;
	}

	a{
		text-decoration: none;
		padding: 28px 80px;
		background: #6D7649;
		color: #fff;
		text-transform: uppercase;
	}
}


.ba-stars{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 20px;
	padding-left: 10px;
	img +img{
		padding-left: 5px;
	}

}


.ba-slider-22{
	position: relative;
	button{
		background-color: transparent;
		border: none;
		position: absolute;
		top: 93%;
		left: 46%;
	}
	button + button{
		padding-left: 128px;
	}
}

.ba-slider-2{
	background-image: url('../img/bg-sl.jpg');
	padding-top: 264px;
	text-align: center;
	padding-bottom: 371px;

	p{
		padding-top: 10px;
		display: inline-block;
		width: 744px;
		color:  #ffffff;
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 0.2em;
		line-height: 40px;
	}
}


.vertical-text2{
	position: absolute;
	transform: rotate(90deg);
	top: 623px;
	left: -28px;
	color:  #f7f8f3;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.ba-mark{
	position: absolute;
	top: 454px;
	left: 45%;
	color:  #ffffff;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	img{
		padding-bottom: 10px;
	}

}







